- form_for @recortable do |f|
  = f.error_messages
  
  %br
  = f.label t :modelo
  = f.select :modelo, @modelos, :include_blank => true

  %br
  = f.label t :complejidad
  = f.select :complejidad, @complejidad, :include_blank => true

  %br
  = f.label t :color_fondo
  = f.text_field :color_fondo
  #colorpicker_recortable_color_fondo
  %br
  = f.label t :color_aristas
  = f.text_field :color_aristas
  #colorpicker_recortable_color_aristas

  %br
  = f.label t :grosor_aristas
  = f.text_field :grosor_aristas

  %br
  = f.label t :textura
  = f.text_field :textura

  %br
  = f.submit t(:previsualizar)
  = f.submit t(:generar)

%p
  = link_to t(:cancelar), root_path
