%div{:id => "slider_imagenes"}

  %ul
  - lista_imagenes_recortable.each do |i|
    %li
      = image_tag i, :size => "400x400", :id => "imagen_cabecera"


%div{:id => "slider_formulario"}
  - semantic_form_for @recortable, :html => {:multipart => true} do |f|
    = f.error_messages
    %ul
      %li
        %div.pantalla_formulario
          %table
            %tr
              %td
                = f.label "Bolo 16"
                = f.radio_button :nombre, "Bolo16"
                %br
                = f.label "Bolo 35"
                = f.radio_button :nombre, "Bolo35"
                %br
                = f.label "Bolo 70"
                = f.radio_button :nombre, "Bolo70"
                %br
                = f.label "Bolo 154"
                = f.radio_button :nombre, "Bolo154"
                %br
                = f.label "Bolo 340"
                = f.radio_button :nombre, "Bolo340"                
              %td
                = f.label "Cono r=h"
                = f.radio_button :nombre, "Cono_r_h"
                %br
                = f.label "Cono r=2h"
                = f.radio_button :nombre, "Cono_r_2h"
                %br
                = f.label "Cono 2r=h"
                = f.radio_button :nombre, "Cono_2r_h"
                %br
                = f.label "Cono 4r=h"
                = f.radio_button :nombre, "Cono_4r_h"                
              %td
                = f.label "Esfera 20"
                = f.radio_button :nombre, "Esfera20"
                %br
                = f.label "Esfera 80"
                = f.radio_button :nombre, "Esfera80"
                %br
                = f.label "Esfera 320"
                = f.radio_button :nombre, "Esfera320"
      %li
        %div.pantalla_formulario
          %table
            %tr
              %td
                = f.label t(:color_fondo)
                %br
                = f.text_field :color_fondo, {:class => "selector_color"}
                %div{:id => "colorpicker_recortable_color_fondo", :class => "picker"}
                %br
                = f.label t(:textura)
                %br
                = f.file_field :textura
                - if @recortable.textura
                  %br
                  = image_tag @recortable.textura.url(:thumb)
              %td
                = f.label t(:color_aristas)
                %br
                = f.text_field :color_aristas, {:class => "selector_color"}
                %div{:id => "colorpicker_recortable_color_aristas", :class => "picker"}
                = f.label t(:grosor_aristas)
                %br
                = f.label "Fino"
                = f.radio_button :grosor_aristas, "Fino"
                %br
                = f.label "Medio"
                = f.radio_button :grosor_aristas, "Medio"
                %br
                = f.label "Grueso"
                = f.radio_button :grosor_aristas, "Grueso"
          %br

          = f.submit t(:previsualizar)
      %li
        %div.pantalla_formulario
          = f.submit t(:generar)
          %p
          = link_to t(:cancelar), root_path

    