%div{:id => "slider"}
  - unless @recortable.imagenes.empty?
    %ul
      - @recortable.imagenes.each do |imagen|
        %li
          = image_tag imagen.imagen.url, :size => "300x300"
  - else
    %ul
      %li
        = image_tag "esfera320.jpg", :id => "imagen_cabecera"

%div{:id => "pruebas"}= link_to "google.es"
- semantic_form_for @recortable do |f|
  = f.error_messages
  %br
  - f.inputs do
    /= f.input :modelo_id, :as => :radio, :collection => @modelos
    - @modelos.each do |modelo|
      = image_tag(modelo[0].downcase + ".png")
      = f.radio_button :modelo_id, modelo[1].to_i
  %br
  - f.inputs do
    = f.input :complejidad, :as => :radio, :collection => @complejidad
  %br
  - f.inputs :name => "Aristas" do
    = f.label t :color_aristas
    = f.text_field :color_aristas
    #colorpicker_recortable_color_aristas
    = f.label t :grosor_aristas
    = f.text_field :grosor_aristas
  %br
  - f.inputs :name => "Fondo" do
    = f.label t :color_fondo
    = f.text_field :color_fondo
    #colorpicker_recortable_color_fondo
    = f.label t :textura
    = f.text_field :textura
  %br
  = f.submit t(:previsualizar)
  = f.submit t(:generar)
  %p
  = link_to t(:cancelar), root_path

    