<% form_for @recortable do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :numero_gajos %><br />
    <%= f.text_field :numero_gajos %>
  </p>
  <p>
    <%= f.label :numero_u %><br />
    <%= f.text_field :numero_u %>
  </p>
  <p>
    <%= f.label :numero_v %><br />
    <%= f.text_field :numero_v %>
  </p>
  <p>
    <%= f.label :textura %><br />
    <%= f.text_field :textura %>
  </p>
  <p>
    <%= f.label :ancho_textura_x %><br />
    <%= f.text_field :ancho_textura_x %>
  </p>
  <p>
    <%= f.label :ancho_textura_y %><br />
    <%= f.text_field :ancho_textura_y %>
  </p>
  <p>
    <%= f.label :desplazamiento_textura_x %><br />
    <%= f.text_field :desplazamiento_textura_x %>
  </p>
  <p>
    <%= f.label :desplazamiento_textura_y %><br />
    <%= f.text_field :desplazamiento_textura_y %>
  </p>
  <p>
    <%= f.label :rojo %><br />
    <%= f.text_field :rojo %>
  </p>
  <p>
    <%= f.label :verde %><br />
    <%= f.text_field :verde %>
  </p>
  <p>
    <%= f.label :azul %><br />
    <%= f.text_field :azul %>
  </p>
  <p>
    <%= f.label :repite_horizontal %><br />
    <%= f.text_field :repite_horizontal %>
  </p>
  <p>
    <%= f.label :repite_vertical %><br />
    <%= f.text_field :repite_vertical %>
  </p>
  <p>
    <%= f.label :malla_rojo %><br />
    <%= f.text_field :malla_rojo %>
  </p>
  <p>
    <%= f.label :malla_verde %><br />
    <%= f.text_field :malla_verde %>
  </p>
  <p>
    <%= f.label :malla_azul %><br />
    <%= f.text_field :malla_azul %>
  </p>
  <p>
    <%= f.label :malla_tamanyo %><br />
    <%= f.text_field :malla_tamanyo %>
  </p>
  <p>
    <%= f.label :fin %><br />
    <%= f.text_field :fin %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
