%div{:id => "slider"}
  - unless @recortable.imagenes.empty?
    %ul
      - @recortable.imagenes.each do |imagen|
        %li
          = image_tag imagen.imagen.url, :size => "400x400", :id => "imagen_cabecera"
  - else
    %ul
      %li
        = image_tag "esfera320.jpg", :id => "imagen_cabecera"

- semantic_form_for @recortable do |f|
  = f.error_messages
  %br
  - f.inputs :id => "Bolos" do

    = f.radio_button :nombre, "Bolo16"
    = f.radio_button :nombre, "Bolo35", :label => "Bolo 35"
    = f.radio_button :nombre, "Bolo70", :label => "Bolo 70"
    = f.radio_button :nombre, "Bolo154", :label => "Bolo 154"
    = f.radio_button :nombre, "Bolo340", :label => "Bolo 340"

  - f.inputs do

    = f.radio_button :nombre, "Cono_r_h"
    = f.radio_button :nombre, "Cono_r_2h"
    = f.radio_button :nombre, "Cono_2r_h"
    = f.radio_button :nombre, "Cono_4r_h"

  - f.inputs do

    = f.radio_button :nombre, "Esfera20"
    = f.radio_button :nombre, "Esfera80"
    = f.radio_button :nombre, "Esfera320"


  
  %br
  - f.inputs do
    = f.input :complejidad, :as => :radio, :collection => @complejidad
  %br
  - f.inputs :name => "Aristas" do
    = f.label t :color_aristas
    = f.text_field :color_aristas
    #colorpicker_recortable_color_aristas
    = f.label t :grosor_aristas
    = f.input :grosor_aristas, :collection => @grosor_aristas
  %br
  - f.inputs :name => "Fondo" do
    = f.label t :color_fondo
    = f.text_field :color_fondo
    #colorpicker_recortable_color_fondo
    = f.label t :textura
    = f.text_field :textura
  %br
  = f.submit t(:previsualizar)
  = f.submit t(:generar)
  %p
  = link_to t(:cancelar), root_path

    