!!!
%html
  %head
    %title= h(yield(:title) || "Untitled")
    = javascript_include_tag 'jquery-1.4.4.min'
    = javascript_include_tag 'jquery-ui-1.8.6.custom.min'
    = javascript_include_tag 'farbtastic'
    /= javascript_include_tag 'jquery.slideviewer.1.2'
    = javascript_include_tag 'easySlider1.7'
    = javascript_include_tag 'application'


    = stylesheet_link_tag 'jquery-ui-1.8.6.custom'
    = stylesheet_link_tag 'easySlider'
    = stylesheet_link_tag 'farbtastic'
    = stylesheet_link_tag 'application'

    = yield :head
  %body
    .tres-columnas
      #sidebar
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
      #content
        - if show_title?
          %h1=h yield :title
        = yield
      #footer