!!!
%html
  %head
    %title= h(yield(:title) || "Recortables 3D")
    = javascript_include_tag 'jquery-1.4.4.min'
    = javascript_include_tag 'jquery-ui-1.8.6.custom.min'
    = javascript_include_tag 'farbtastic'
    /= javascript_include_tag 'jquery.slideviewer.1.2'
    = javascript_include_tag 'easySlider1.7'
    = javascript_include_tag 'application'

    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    = stylesheet_link_tag 'jquery-ui-1.8.6.custom'
    = stylesheet_link_tag 'easySlider'
    = stylesheet_link_tag 'farbtastic'
    = stylesheet_link_tag 'application'

    = yield :head

  %body.bp.una-col
    #container
      //#cabecera
      //  Esta es la cabecera
      = yield
      /#pie
      /  Este es el pie